:root {
  --primary-dark: #1f2338ff;
  --primary-medium: #8696b0ff;
  --primary-light: #eae7f1ff;
  --seconday-dull: #7d7785ff;
  --secondary-vivid: #786d8dff;
}

.App {
  text-align: center;
}

.App-Container {
  background-color: var(--primary-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}